Repository hazelcast/hazelcast-nodejs-client, pull requests merged in 2021-12, with the labels that each got.

#1144 Fix SqlExeceuteTest for the older clients
  code_samples/jaas_sample/hazelcast-member/README.md
  test/integration/backward_compatible/parallel/sql/ExecuteTest.js
Labels: Type: Test-Failure

#1150 [5.0.x] Fix typo in the token authentication documentation
  DOCUMENTATION.md
Labels: Type: Documentation

#1149 Fix typo in the token authentication documentation
  DOCUMENTATION.md
Labels: Type: Documentation

#1151 [4.2.x] Fix typo in the token authentication documentation
  DOCUMENTATION.md
Labels: Type: Documentation

#1152 Improve security config validation [master]
  src/config/ConfigBuilder.ts
  test/unit/config/ConfigBuilderTest.js
Labels: Type: Enhancement, Estimation: S

#1153 Improve security config validation [4.2.x]
  src/config/ConfigBuilder.ts
  test/unit/config/ConfigBuilderTest.js
Labels: Type: Enhancement, Backport, Estimation: S

#1154 Improve security config validation [5.0.x]
  src/config/ConfigBuilder.ts
  test/unit/config/ConfigBuilderTest.js
Labels: Type: Enhancement, Backport, Estimation: S

#1155 Update dependencies
  .github/workflows/code_quality.yml
  .github/workflows/code_sample_checker.yml
  .github/workflows/nightly_runner_master.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  package.json
  test/unit/serialization/ObjectDataTest.js
  typedoc.json
Labels: dependencies
